* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    // font-size: 10px;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', 'sans-serif';
    background: #F7F7F7;
}

