/* Navigation */
#navigation {
  position: fixed;
  z-index: 40;
  width: 100%;
  background: #f0ead6;
  text-align: center;
  height: 10rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 70%,
    55% 70%,
    50% 90%,
    45% 70%,
    0% 70%
  );
  transition: all 0.4s ease-in-out;
  opacity: 0;

  a {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem 5rem;
    line-height: 6.5rem;
    font-family: "Kaushan Script";
    margin: auto;
    color: $dark;
  }

  a:active {
    font-size: 4rem;
  }

  .icon {
    display: none;
  }
}

header {
  height: 100vh;
  width: 100%;
  background: url("../img/imgBackground.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    margin: 0;
    color: $offWhite;
    position: relative;
    top: 40rem;
    font-family: "Kaushan Script";
    font-size: 11rem;
    opacity: 0;
  }

  h2 {
    text-align: center;
    margin: 0;
    color: $offWhite;
    position: relative;
    top: 40rem;
    font-family: "Abril Fatface";
    font-size: 5rem;
    letter-spacing: 0.2rem;
    opacity: 0;
  }

  #arrow {
    color: #000;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #fff;
    border-style: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    opacity: 0;
  }

  @keyframes pulse {
    to {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.1);
    }
  }
}
